* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, red, orange);
}

input {
 background: linear-gradient(to right, orange, yellow);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-style: none;
 height: 5%;
 width: 20%;
}

.search-container .suggestions {
   /* TODO */
   background: linear-gradient(to right, orange, yellow) ;
   width: 40%;

}

ul {
  list-style: none;
}

ul li:hover {
  background-color: orangered;
}

